.DS_Store
.env
node_modules
publish/*
!publish/downloads
!publish/images
!publish/favicon.*
yarn-error.log
code/html/cookbook/*.html
!code/html/cookbook/index.html
code/html/docs/*.html
!code/html/docs/index.html
code/html/tutorial/*.html
!code/html/tutorial/index.html
code/html/videos/*.html
!code/html/videos/index.html
code/html/_docs_nav.html
code/html/_tutorial_nav.html
code/html/_cookbook_nav.html
code/html/_videos_nav.html
code/html/news.html
