.DS_Store
.env
node_modules
publish/*
!publish/downloads
!publish/images
!publish/favicon.*
yarn-error.log
code/html/cookbook/*.html
!code/html/cookbook/index.html
code/html/guides/*.html
!code/html/guides/index.html
code/html/tutorial/*.html
!code/html/tutorial/index.html
code/html/reference/*.html
!code/html/reference/index.html
code/html/_guides_nav.html
code/html/_tutorial_nav.html
code/html/_cookbook_nav.html
code/html/_reference_nav.html
code/html/news.html
