[dev]
  command = "cameronjs dev"
  publish = "publish"
  port = 8080

[build]
  command = "yarn build"
  publish = "publish"
  functions = "functions"

# For more settings see https://www.netlify.com/docs/netlify-toml-reference/#post-processing
[build.processing]
  skip_processing = false
[build.processing.css]
  minify = true
[build.processing.js]
  minify = true
[build.processing.html]
  pretty_urls = true
[build.processing.images]
  compress = true

[context.production]
  environment = { NODE_ENV = "production"}

[context.branch-deploy]
  environment = { NODE_ENV = "production" }
  
[[redirects]]
  from = "/docs/*"
  to = "https://redwoodjs-docs.netlify.app/docs/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/tutorial"
  to = "/docs/tutorial/welcome-to-redwood"
  status = 301
  force = true

  [[redirects]]
  from = "/tutorial/*"
  to = "/docs/tutorial/welcome-to-redwood"
  status = 301
  force = true

[[redirects]]
  from = "/assets/*"
  to = "https://redwoodjs-docs.netlify.app/assets/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/newsletter"
  to = "https://redwoodjs.us19.list-manage.com/subscribe/post?u=0c27354a06a7fdf4d83ce07fc&id=09f634eea4"
  force = true

[[redirects]]
  from ="/community"
  to ="https://community.redwoodjs.com/t/welcome-to-the-redwoodjs-community/2416"  
