/* I'm used on the built-in CameronJS welcome page code/html/index.html */
/* Feel free to delete me once you start changing that page.            */

.cjs-code-snippet {
  @apply text-sm bg-gray-300 text-gray-700 py-px px-1 rounded;
}

@screen md {
  .cjs-code-snippet {
    @apply whitespace-no-wrap;
  }
}

.cjs-title {
  @apply mt-8 text-2xl;
}

.cjs-link {
  @apply underline text-red-700 font-semibold;
}

.cjs-p {
  @apply mt-4;
}
